body{
    font-family: "Titillium Web", serif;
    background-image: url(pics/image.png);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    font-size: 25px;
}

header .logo{
    padding: 0;
}

nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    margin-left: 15px;
}

header nav ul li a {
    color:white;
    text-decoration: none;
}

our{
display: flex;
}


.product-grid {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.product-card {
    background-color: #50270d;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}

.product-card img {
    width: 50%;
    height: 40%;
    border-radius: 5px;
    margin-bottom: 16px;
}

.product-card h3 {
    font-size: 20px;
    color: gray;
    margin-bottom: 8px;
}

.product-card p {
    font-size: 15px;
    color: white;
    margin-bottom: 15px;
}

.product-card button {
    background-color: gray;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
}

.product-card button:hover {
    background-color: gray;
}


footer {
    background-color: #50270d;
    color: white;
    padding: 16px;
    text-align: center;
}


@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }
}